.home__header {
    background-color: gray;
    margin-bottom: 4em;
}
.tittle__one {
    font-size: 3em;
}
.btn__agrm {
    border: none;
    background-color: gray;
    padding: 1.5em;
}
.btn__agrm:hover {
    border: white;
    background-color: rgb(206, 198, 198);
}